.header {
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  background-color: var(--second-brand-color);
  color: var(--sub-text-color);
  padding: 0.5rem 1rem;
}
.cart__btn {
  display: flex;
  align-items: center;
  background-color: var(--third-brand-color);
  width: fit-content;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cart__btn svg {
  width: 3rem;
  display: block;
  margin-right: 1rem;
  fill: var(--sub-text-color);
}
.cart__btn .cart__span {
  font-size: 2.2rem;
  font-family: var(--title-font);
  color: var(--sub-text-color);
}

.cart__span-box {
  display: flex;
  align-items: center;
}
.cart__span-box svg {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.cart__span {
  font-size: 2rem;
  font-family: var(--title-font);
}
@media screen and (min-width: 1024px) {
}
